.skeleton {
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  background-color: rgb(123, 122, 122);
  top: 0;
  bottom: 0;
  left: -50%;
  width: 30%;
  animation: shine 1s ease infinite;
}

@keyframes shine {
  to {
    left: 100%;
  }
}
